* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
}

/* App.js */

.app {
  max-width: 500px;
  width: 80%;
  margin: 7% auto;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #000;
  overflow: hidden;
}
